body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.wrap {
margin: 16px;
padding: 16px;





}
h2 {
background-color: darkseagreen;

}
a {
    background-color:aliceblue
}

.d1, .a1 {
    display: inline;
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    background-color: firebrick;
    width: 180px;
    height: 80px;
    margin-top: 80px;
    
}